<%- include("../partials/_header") -%>

<div class="container-content">
  <h1>Récupération de mot de passe</h1>
  <p>Veuillez entrer un email valide pour réinitialiser votre mot de passe</p>
  <% if (locals.successMessage) { %>
    <p class="success-message"><%= successMessage %></p>
  <% } else if (locals.errMessage) { %>
    <p class="error-message"><%= errMessage %></p>
  <% } %>
  <form action="/users/lost-password" method="POST">
    <div class="container-form">
      <label for="email"></label>
      <input type="email" name="email" id="email" placeholder="Adresse email">
      <div class="container-btn">
        <a href="/users/signin">
          <input class="btn" type="button" value="Retour">
        </a>
        <input class="btn" type="submit" value="Valider">
      </div>
    </div>
  </form>
</div>

<%- include("../partials/_footer") -%>