<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>JWT</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/a855b63913.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="main-container">