<%- include("../partials/_header") -%>

<div class="container-content flex-v-center">
  <h1 class="text-center text-big">500</h1>
  <img class="error-img" src="/images/icon-file-sad.png" alt="erreur 404, page non trouvée">
  <p class="text-center">Le serveur a rencontré un problème.. :(</p>
  <div class="container-btn">
    <a href="/">
      <button class="signup-btn btn">Accueil</button>
    </a>
  </div>
</div>

<%- include("../partials/_footer") -%>