<%- include("./partials/_header") -%>

<div class="container-content">
  <h1>JWT Authentification</h1>
  <div class="container-btn">
    <% if (locals?.user) { %>
    <a href="/profile">
      <button class="profile-btn btn">Profil</button>
    </a>
    <a href="/logout">
      <button class="logout-btn btn">Déconnexion</button>
    </a>

    <% } else { %>
    <a href="/signup">
      <button class="signup-btn btn">Inscription</button>
    </a>
    <a href="/signin">
      <button class="signin-btn btn">Connexion</button>
    </a>
    <% } %>
  </div>
</div>

<%- include("./partials/_footer") -%>