<%- include("./partials/_header") -%>

<div class="container-content">
  <h1>JWT Authentification</h1>
  <% if (locals.user) { %>
  <p>Bonjour <span class="bold"><%= user.firstname %> !</span></p>
  <% } %>
  <div class="container-btn">
    <% if (locals.user) { %>
    <a href="/users/profile">
      <button class="profile-btn btn">Profil</button>
    </a>
    <a href="/users/logout">
      <button class="logout-btn btn">Déconnexion</button>
    </a>

    <% } else { %>
    <a href="/users/signup">
      <button class="signup-btn btn">Inscription</button>
    </a>
    <a href="/users/signin">
      <button class="signin-btn btn">Connexion</button>
    </a>
    <% } %>
  </div>
</div>

<%- include("./partials/_footer") -%>