<%- include("./partials/_header") -%>

<div class="container-content">
  <h1>Récupération de mot de passe</h1>
  <p>Veuillez entrer un email valide pour réinitialiser votre mot de passe</p>
  <% if (locals.successmessage) { %>
  <p class="success-message"><%= successMessage %></p>
  <% } %>
  <form action="/lost-password" method="POST">
    <div class="container-form">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
      <div class="container-btn">
        <a href="/signin">
          <input class="btn" type="button" value="Retour">
        </a>
        <input class="btn" type="submit" value="Valider">
      </div>
    </div>
  </form>
</div>

<%- include("./partials/_footer") -%>