<%- include("./partials/_header") -%>

<div class="container-content">
  <h1>Enregistrement</h1>
  <% if (locals.errMessage) { %>
  <p class="error-message"><%= errMessage %></p>
  <% } %>
  <form action="/signup" method="POST">
    <div class="container-form">
      <label for="firstname">Prénom</label>
      <input type="text" autofocus="" required="" name="firstname" id="firstname">
      <label for="lastname">Nom</label>
      <input type="text" required="" name="lastname" id="lastname">
      <label for="email">Email</label>
      <input type="email" required="" name="email" id="email">
      <label for="password">Mot de passe:</label>
      <div class="container-password">
        <input type="password" required="" name="password" id="password">
        <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
      </div>
      <div class="container-btn">
        <a href="/">
          <input class="btn" type="button" value="Retour">
        </a>
        <input class="btn" type="submit" value="Valider">
      </div>
    </div>
  </form>
</div>

<script src="/js/signup.js" charset="utf-8"></script>

<%- include("./partials/_footer") -%>